node_modules/
npm-debug.log*
tmp/
temp/
logs
*.log
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.crx
*.pem
*.zip
*.bak
*.backup
.sass-cache/
.connect.lock
.typings/ 